html {
    font-size: 13px; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    display: grid;
    justify-items: center;

    .d-flex {
        display: flex;
    }

    .align-items-center {
        align-items: center;
    }

    .pl-10px {
        padding-left: 10px;
    }

    .ml-10px {
        margin-left: 10px;
    }

    .home-page {
        width: 80%;
    }

    .topnav {
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        height: 50px;
        border-bottom: 2px solid #a0a0a0;

        .home-icon {
            width: 40px;
        }

        .home-title {
            font-size: 40px;
            font-weight: 1000;
        }
    }

    .main {
        padding-top: 20px;
    }

}
